.app{
  display: grid; 
  grid-template-rows: 80px auto; 
  
}
.navbar {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 30px; 
    border-bottom: 1px solid white; 
}

.navbar > h1 {
  font-size: 30px;
  color: brown; 
}

.navbar_links {
  display: flex;
  align-items: center;  
}

.navbar_links > a {
  display: flex; 
  align-items: 20px;
  font-size: 20px;
  font-weight: 500;
  color:black; 
  text-decoration: none; 
  padding: 0 15px; 
} 

.movie_list_header { 
   padding: 10px 30px; 

   justify-content: space-between;
   margin-bottom: 5px; 
}

.movie_list_heading {
  
  font-size: 26px; 
  color: darkgreen
}

.movie_filter {
  list-style: none;
  font-size: 16px; 
}

.movie_filter_item {
  padding: 5px 10px; 
  cursor: pointer; 
}

.movie_filter_item.active {
border-bottom: 1px solid brown;
font-weight: 500;
}

.movie_sorting { 
  border: none; 
  outline: none; 
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  height: 30px;
  padding: 0 5px; 
  margin: 0 10px; 

}

